@charset "utf-8";

// Import partials.
@import 'helpers/reset.scss';
@import 'helpers/tachyons';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abel', sans-serif;
  font-weight:  bold;
}
.entry {
  p {
  text-align: justify;
  }
}
a { color: #ffb700; text-decoration: none; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
a, a:visited { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
a:hover { color: #fbf1a9; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
a:active { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
a:focus { color: #fbf1a9; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
