@charset "utf-8";
// Import partials.
@import 'helpers/tachyons';
@import 'helpers/fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: 'printbold', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:  bold;
}
.entry { p { text-align: justify; }}
.nav:hover { color: #bbeeff; }
a { color: #fff; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
a:hover { color: #bbeeff }
.work-tile:hover {
  background-blend-mode: difference;
  transition: all .2s ease;
}
.work-tile {
  background-blend-mode: multiply;
  transition: all .2s ease;
}
.arrow {
  z-index: -1;
	-webkit-animation: flash linear 1.5s infinite;
	animation: flash linear 1.5s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
