@charset "utf-8";
// Import partials.
@import 'helpers/tachyons';
@import 'helpers/fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: 'printbold', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:  bold;
}
.entry {
  p {
  text-align: justify;
  }
}
a { color: #ccc; text-decoration: none; -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }
