<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

{% include head.html %}

<body>

  {% include header.html %}

  <section class="h-100 dt-ns w-100">
    <div class="h-100 dtc-ns v-mid-ns" aria-label="Content">
      <div class="ph2 ph0-ns h-100 w-100 center h-50-ns w-75-m w-50-l bg-black center overflow-scroll">
        {{ content }}
      </div>
    </div>
  </section>

  {% include footer.html %}

</body>

</html>
