---
layout: default
---

<div class="relative h-100 overflow-hidden-ns overflow-scroll">

  <h1 class="f-subheadline f-headline-ns">E. A. D. Pearce<br> Web Developer </h1>

  <div class="f-subheadline static mt3 mt0-ns absolute-ns bottom-0-ns right-0-ns tr">
    <a href="/work" class="db link gold hover-light-yellow grow" style="font-family: 'Abel', sans-serif;">Work</a>
    <a href="/about" class="db link gold hover-light-yellow grow" style="font-family: 'Abel', sans-serif;">About</a>
    <a href="/contact" class="db link gold hover-light-yellow grow" style="font-family: 'Abel', sans-serif;">Contact</a>
  </div>

</div>
