---
layout: default
---
<section class="vh-100 dt w-100">
  <a name="about"></a>
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">About</h2>
    <p class="f4">Edie Pearce is a Web Developer based in London, UK. She likes cats, video games and memes. </p>
    <blockquote class="f4 mb5 bl bw2 b--moon-gray pl2">"Tinkering with things has always been a hobby of mine whether it’s coding, art, or music. I love learning lots of new skills and then figuring out ways of mashing them together to create something exciting and new. I think there’s limitless potential for this in coding."</blockquote>
    <div class="w-100 tc arrow white"><a class="white link" href="#work">&#9660;</a></div>
  </div>
</section>


<section class="vh-100 dt w-100">
  <a name="work"></a>
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">Work</h2>
    <div style="font-family: 'printbold'" class="ttu tracked f1 w-100">
      <a href="/piano-hero" class="hover-white"><div class="dt fl h5 w-50-ns w-100 cover work-tile"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27910048-54d3ad66-624b-11e7-8231-9ec8d19f1469.png);">
        <div class="dtc v-mid tc">
          Piano Hero
        </div>
      </div></a>
      <a href="/xivb" class="hover-white"><div class="dt fl h5 w-50-ns w-100 cover work-tile"
        style="
          background-color: #555;
          background-image: url(https://cloud.githubusercontent.com/assets/25905279/25563964/313ac7d4-2da0-11e7-98fd-7185d290af61.png);">
        <div class="dtc v-mid tc">
          XIVB
        </div>
      </div></a>
      <a href="/pinata" class="hover-white"><div class="dt fl h5 w-50-ns w-100 cover work-tile"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27958542-97c3588a-631b-11e7-96ac-39a5913527a2.png);">
        <div class="dtc v-mid tc">
          Piñata
        </div>
      </div></a>
      <a href="/collab" class="hover-white"><div class="dt mb5 fl h5 w-50-ns w-100 cover work-tile"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27958583-c5b6c10a-631b-11e7-9812-7bf2be49d2a0.png);">
        <div class="dtc v-mid tc">
          ColLAB
        </div>
      </div></a>
    </div>
    <div class="cb w-100 tc arrow white"><a class="white link" href="#contact">&#9660;</a></div>
  </div>
</section>

<section class="vh-100 dt w-100">
  <a name="contact"></a>
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">Contact</h2>
      <p class="f4">Email: e.pearce(at)tutanota.com</p>
      <p class="f4">Twitter <a href="http://twitter.com/ediepearce2501">@ediepearce2501</a>
      </p>
      <p class="f4"><a href="https://www.linkedin.com/in/edie-pearce/">LinkedIn</a>
      </p>
      <p class="f4 mb5"><a href="https://github.com/eadpearce">GitHub</a>
      </p>
      <div class="cb w-100 tc arrow white"><a class="link hover-white" href="#credits">&#9660;</a></div>
  </div>
</section>

<section class="vh-100 dt w-100">
  <a name="credits"></a>
  <div class="dtc v-mid f4">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">Credits</h2>
      <p>This site was built with: </p>
      <ul>
        <li><a href="https://jekyllrb.com/">Jekyll</a></li>
        <li><a href="http://tachyons.io">Tachyons</a></li>
      </ul>
      <p>and hosted with <a class="link hover-white" href="https://pages.github.com/">GitHub Pages</a>.</p>
  </div>
</section>
