---
layout: default
---
<section class="vh-100 dt">
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">About</h2>
    <p>Edie Pearce is a web developer based in London, UK. She likes cats, video games, and memes. </p>
  </div>
</section>


<section class="vh-100 dt w-100">
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">Work</h2>
    <div style="font-family: 'printbold'" class="ttu tracked f1 w-100">
      <div class="dt fl h5 w-50 cover"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27910048-54d3ad66-624b-11e7-8231-9ec8d19f1469.png);
          background-blend-mode: multiply;">
        <div class="dtc v-mid tc">
          Piano Hero
        </div>
      </div>
      <div class="dt fl h5 w-50 cover"
        style="
          background-color: #555;
          background-image: url(https://cloud.githubusercontent.com/assets/25905279/25563964/313ac7d4-2da0-11e7-98fd-7185d290af61.png);
          background-blend-mode: multiply;">
        <div class="dtc v-mid tc">
          XIVB
        </div>
      </div>
      <div class="dt fl h5 w-50 cover"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27958542-97c3588a-631b-11e7-96ac-39a5913527a2.png);
          background-blend-mode: multiply;">
        <div class="dtc v-mid tc">
          Piñata
        </div>
      </div>
      <div class="dt fl h5 w-50 cover"
        style="
          background-color: #555;
          background-image: url(https://user-images.githubusercontent.com/25905279/27958583-c5b6c10a-631b-11e7-9812-7bf2be49d2a0.png);
          background-blend-mode: multiply;">
        <div class="dtc v-mid tc">
          ColLAB
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vh-100 dt">
  <div class="dtc v-mid">
    <h2 style="font-family: 'printclearly'" class="f1 ttu tracked">Contact</h2>
    <ul>
      <li>e.pearce(at)tutanota.com</li>
      <li><a style="text-decoration-style: dotted"
        class="link grow underline hover-white"
        href="http://twitter.com/ediepearce2501">@ediepearce2501</a>
      </li>
      <li><a style="text-decoration-style: dotted"
        class="link grow underline hover-white"
        href="https://www.linkedin.com/in/edie-pearce/">LinkedIn</a>
      </li>
      <li><a style="text-decoration-style: dotted"
        class="link grow underline hover-white"
        href="https://github.com/eadpearce">GitHub</a>
      </li>
    </ul>
  </div>
</section>
<!-- <div>
<a href="/work">Work</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
</div> -->
