---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="f-headline tracked-tight" itemprop="name headline">{{ page.title | escape }}</h1>
    <h2 class="f2 mt2">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</h2>
  </header>

  <div class="entry lh-copy mt2 f4" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
